.logo{
    font-size: 30px;
    font-weight: 600;
}
.logo i{
    position: relative;
    bottom: 20px;
    left: 20px;
    color: #9600ff;
}
.btn-categoria{
    color: rgba(0,0,0,.5);
}
.btn-categoria:focus-visible{
    border: none;
}

.ulcategorias{
    margin-top: 30px;
}

/*SEARCH*/
#buttonSearch{
border: none;
background: transparent;
color: black;
}
.manipulado{
    height: 45px;
    width: 95%;
    border: none;
    border-radius: 30px;
}
#buttontextdrop{
    display: flex;
    justify-content: center;
}
.btn-droptext{
    border: none;
    background-color: #343a40;
    color: white;
    font-weight: 700;
}
#positionimages{
    width: 115px;
    padding-right: 10px;
}
.apredizadonline{
    width: 100%;
    border: 1px solid rgba(0,0,0,.15);
}

/*perfil*/
#positionperfil{
    position: absolute;
    left: -115px;
    margin-top: 20px;
}
.colorliperfil{
    color: transparent;
    background-color: transparent;
}
.colorliperfil:hover{
    transition: 1s;
    background-color: #b5b3b6;
}
.colorliperfil a{
    color: #343a40;
 text-decoration: none;
}
.colorliperfil a:hover{
    transition: 1s;
    color:white;
 text-decoration: none;
}