#color-footer{
    background-color: black;
}
.hr-footer{
    background-color: white;
    width: 100%;
    margin: auto;
}
#footer-icons strong{
    position: relative;
    top: 25px;
}
#footer-icons i {
    position: relative;
    float: right;
    font-size: 40px;
    color: white;
    padding: 20px;
}