.bg-color{
background: linear-gradient(131.26deg, rgba(113, 114, 111, 0.342) 30%, rgb(56, 59, 53) 50%, rgb(0, 0, 0) 100%);
}
.btncolor{
    background: linear-gradient(131.26deg, rgb(65, 147, 255) 50%, rgb(97, 152, 255) 50%);
}
#motherofall{
display: flex;
flex-direction: row;
}
.bgcontborder{
    border-radius: 0.75rem;
    background-color: #dbdee1!important;
}
.ajusteposition{
    display: flex;
    flex-direction: row;
}
.ajusteposition2{
    display: flex;
    flex-direction: column;
}
.lembrar-senha{
    display: flex;
}
.logintext{
    font-size: 2rem;
    margin: auto;
    position: relative;
    left: -50px;
}
.logintext i{
    position: relative;
    top: -22px;
    left: 21px;
    color: blueviolet;
}
.pager{
    padding-left: 70px;
    margin: 20px;
    position: relative;
    top: -8px;
}
.pager2{
    padding-left: 270px;
    margin: 20px;
    position: relative;
    top: -8px;
}
.pager2li{
    padding-left: 90px;
    margin: 20px;
    position: relative;
    top: -8px;
}












/*EDITORDEPERFIL ABAIXO*/

#image-perfil{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid;
}

#escolha-perfil{
    color: rgb(49, 47, 47);
    text-decoration: none;
}
#escolha-perfil:hover{
    color: #fff;
    border-color: #6a6f73;
    background: #6a6f73!important;
    text-decoration: none;
}

.todoinput{
    border: 1px solid;

}
.lineform{
    width: 826px;
    color: #6a6f73;
    position: relative;
    right: 31px;
}
.p60{
    position: relative;
    float: right;
    bottom: 31px;
    height: 25px;
    right: 8px;
    background-color: #f0f3f7;
    border: none;
}
#selecioneidioma{
    width: 725px;
    text-align: center;
    height: 50px;
    border: 1px solid;
    font-weight: bolder;
}
.btnColor{
    position: relative;
    left: 320px;
    background-color: #11ba24;
    border-color: #11ba24;
}
.btnColor:hover{
    position: relative;
    left: 320px;
    transition: 1s;
    background-color: #01700e;
    border-color: #01700e;
}
.btnColor p{
    font-weight: bolder;
}
.imagePerfil{
    border: 1px solid;
    padding: 15px;
}
.perfilfoto{
    position: relative;
    text-align: center;
    height: 280px;
    background-color:#b4b4b429;
    font-size: 207px;
    color: darkgray;
}
.perfilfoto i{
    position: relative;
    top: -20px;
}